/*pc*/
@media (min-width: 1204px) {
    /*gọi class hoặc id*/  
}

/*tablet*/
@media (min-width: 740px) and (max-width: 1023px){
     /*gọi class hoặc id*/  
}

/*mobile*/
@media (max-width: 739px){
    .s-mt-8{
        margin-top: 8px;
    }
    .mt-16{
        margin: 16px;
    }
    .s-full-width{
        width: 100% !important; 
        margin-left: -5px;
    }

    .s-col-full{
        width: 100% !important;
    }

    #header{
        overflow: hidden; /*mặc định là hiện*/
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{  /*ẩn search thay bằng menu*/
        display: none;
    }

    #nav{
        display: block;
    }
    #nav > li{ 
        display: block;  /*ghi đè lên inline block ở thẻ nav>li*/
    }
    #nav > li:first-child{ /*chỉ lấy thằng con đầu tiên của li*/
        display: inline-block;
    }
    #nav .sub-nav{
        position: initial; /*để về giá trị mặc định, mobile không cần position: absilute*/
        background-color: #333;
    }
    #nav .sub-nav a{
        color: #fff;
        padding: 5px 40px; /*cách lề ra để giống con của more*/
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%; /*chiếm hết chiều ngang*/
    }
    #content .member-img{
        width: 50%;
     
    }
    .row{ /*xoá thanh trắng thừa bên phải, do team-img chọc ra*/
        margin-left: 8px;
        margin-right: 8px;
    }
    .contact-form{
        margin-top: 16px;
    }
    .contact-infor{
        padding-left: 24px;
    }

}